<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VU JS Learning</title>

    <style>
        body{
            font-family: sans-serif;
            text-align: center;
            color: white;
            background-color: #212121;
        }
    </style>

</head>
<body>
    <main>

        <h1>IF ELSE in VUE JS...</h1>

        <div id="app">
            <h1 v-if="myName">Abdul Rehman.</h1>
            <h1 v-else>Not Found.</h1>

            <h1 v-if="role">Developer.</h1>
            <h1 v-else>Something else.</h1>
        </div>

        <div>
            <h1 v-if="myName=='new'">Abdul Rehman.</h1>
            <h1 v-else-if=>Correct</h1>
            <h1 v-else>Not Found.</h1>

            
        </div>

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>