* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/bg.jpg);
    font-family: roboto, sans-serif;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: white;
}

hr{
    width: 34%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    border: 1px solid white;

}

.slider {
    margin: 4% auto;
    width: 80%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* width: 300%; */
}

.images {
    width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

#prev, #next {
    font-size: 60px;
    font-weight:900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(107, 107, 107);
    border: none;
    /* padding: 2px px; */
    cursor: pointer;
}

#prev:hover{
    background-color:rgba(99, 99, 99, 0.2);
    color: rgb(66, 66, 66);
}

#next:hover{
    background-color:rgba(99, 99, 99, 0.2);
    color: rgb(66, 66, 66);

}

#prev {
    left: 40px;
}

#next {
    right: 40px;
}

.dots{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 48%;
    bottom: 10px;
}

#dot1, #dot2, #dot3{
    margin: 0px 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

#dot1:hover, #dot2:hover, #dot3:hover{
    background-color: white;
    opacity: 80%;
    transition: ease-in-out 0.8s;
    width: 18px;
    height: 18px;
}

/* .text-on-img{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    text-align: center;
} */