<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE JS Learning</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>

        <div id="top-text">
            <h1>{{toptext}}</h1>
        </div>

        <h1>V-For in VUE JS...</h1>

        <div id="container">
            <ul>
                <li v-for="x in mySkills">{{x}}</li>
            </ul>
        </div>

        <h1>Technologies</h1>

        <div id="img-container">
            <img v-for="x in learningLang" v-bind:src="x"></img>
        </div>

        <h1>My Projects</h1>

        <div id="img-with-text">
            <figure v-for="x in myProjects">
                <img v-bind:src="x.url">
                <figcaption>{{x.name}}</figcaption>
            </figure>
        </div>

        <h1>About Me</h1>

        <div id="aboutMe">
            <p v-for="(x, index) in paras">{{index}} {{x}} <br> </p>
        </div>

        <div id="vue-events">
            <div>
                <h1>Count Total Typed Keys</h1>
                <div id="countData">
                    <input type="text" v-on:input="inpCount++" placeholder="Press keys to count...">
                    <p>{{'Total Typed Keys are: ' + inpCount}}</p>
                </div>
            </div>

            <div>
                <h1>Hover BG Change</h1>
                <div id="container-2" v-on:mousemove="changeColor" v-bind:style="{ backgroundColor: backgroundColor }">
                </div>
            </div>

        </div>

        <h1>SHOW IMAGE WITH TEXT</h1>
        <div id="changingImg">

            <img v-bind:src="imgURL">

            <ol>
                <li v-for="language in webDev" v-on:click="imgURL = language.url">
                    {{language.name}}
                </li>
            </ol>
        </div>

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>