body {
  background-color: #34495e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

#top-text {
  font-size: 40px;
  color: #f1c40f;
  text-transform: uppercase;
}

#container {
  min-width: auto;
  padding: 2px 40px;
  min-height: 500px;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  background-color: rgba(133, 133, 133, 0.4);
  border-radius: 20px;
  font-size: 30px;
}

#img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: auto;
  padding: 2px 40px;
  min-height: 500px;
  border: 1px solid #fff;
  /* color: rgb(0, 0, 0); */
  background-color: rgba(133, 133, 133, 0.4);
  border-radius: 20px;
  font-size: 30px;
}

#img-container img {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 30px;
  margin: 6px;
}

#img-with-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: auto;
  padding: 2px 40px;
  min-height: 500px;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  background-color: rgba(133, 133, 133, 0.4);
  border-radius: 20px;
  font-size: 30px;
}

#img-with-text img {
  width: 320px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 6px;
}

#aboutMe{
  min-width: auto;
  padding: 2px 40px;
  border: 1px solid #fff;
  background-color: rgba(133, 133, 133, 0.4);
  border-radius: 20px;
  font-size: 20px;
}

#aboutMe p{
  text-align: justify;
}


#countData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#countData input{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

#countData p{
  font-size: 20px;
  font-weight: bold;
  color: #f1c40f;
}

#vue-events{
  display: flex;
  justify-content: space-evenly;
}

#container-2{
  height: 100px;
  width: 200px;
  border: 1px solid black;
}

#changingImg{
  background-color:rgb(113, 52, 163);
  display: flex;
  max-width: 400px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

#changingImg img{
  background-color: honeydew;
  border-radius: 20%;
  border: 1px solid black;
  width: 180px;
  height: 180px;
}

#changingImg ol{
  margin: 10px;
  font-weight: bold;
}

#changingImg li{
  list-style-type: none;
}

#changingImg li:hover{
  cursor: pointer;
  background-color: rgb(255, 123, 34);
}