/*
#067583  container color
#ffc2c5  circle color
#ff1e61  hovered color
*/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
    position: relative;
    background: #067583;
    height: 80vh;
    overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #ffc2c5;
  width: 40px;
  height: 40px;
  transition: background 0.3s;
}

.hovered {
  background: #ff1e61;
  animation-play-state: paused;
}
